*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

:root {
   --color-white:hsl(0, 0%, 100%);
   --color-yellow:hsl(51, 100%, 49%);
   --color-softred: hsl(7, 99%, 70%);
   --color-dark-desaturated-cyan:hsl(167, 40%, 24%);
   --color-blue:hsl(198, 62%, 26%);
   --color-Very-dark-grayish-blue: hsl(213, 9%, 39%);
   --color-very-dark-desaturated-blue: hsl(232, 10%, 55%);
   --color-Dark-grayish-blue: hsl(232, 10%, 55%);
   --color-Grayish-blue: hsl(210, 4%, 67%);
   --color-Dark-moderate-cyan: hsl(168, 34%, 41%);
   --color-Dark-blue: hsl(198, 62%, 26%);
   --font-family: 'Fraunces', serif;
}

main {
    background-image: url(./images/desktop/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 40px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .main-nav-links{
    display: flex;
}

.main-header>img {
    display: none;
}

.main-nav-links li {
    list-style: none;
    padding:0 20px;
}

.hidden_menu {
    position: absolute;
    display: block;
    background-color: var(--color-white);
    width: 90vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7vh;
    height: 35vh;
    z-index: 8;
    border-radius: 20px;
    transform:  scale(0);
    transition: .5s ease-in-out;
}

.hidden_menu.active {
    transform: scale(1);
}

.hidden_menu ul li {
    list-style: none;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 700;
    transition: .5s;
}

.hidden_menu ul li a:hover{
    color: var(--color-yellow);
}

#c_b {
    background-color: var(--color-yellow);
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-family);
    border-radius: 30px;
    text-align: center;
    padding: 15px 30px;
}

#c_b:hover {
    background-color: hsla(167, 40%, 24%,0.6);
    color: var(--color-yellow);
    border: 2px wavy var(--color-yellow);
}


.hidden_menu ul li a{
    text-decoration: none;
    color: var(--color-Dark-blue);
    font-weight: 500;
}



.main-nav-links li a{
    text-decoration: none;
    color:var(--color-white);
    font-size: 18px;
}

#contact-button {
    background-color: var(--color-white);
    color: var(--color-Very-dark-grayish-blue);
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-family);
}

#contact-button:hover {
    background-color: hsla(0, 0%, 100%, .4);
    color: var(--color-white);
}

.main-content {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 80px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-family);
    letter-spacing: 8px;
}

.section-one-a {
   display: flex;
}

.left1, .left2, .right1, .right2 {
    width: 50%;

}

.section-one-b {
    display: flex;
}

.section-one-c {
    display: flex;
}

#arrd {
    position: relative;
    left: 50%;
}

.section-one {
    position: relative;
}
.img {
    width: 49.3vw;
}

.text {
    position: relative;
    text-align: left;
    padding-top: 120px;
    padding-left: 120px;
}

.main-title {
    align-content: left;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 40px;
    color: var(--color-Very-dark-grayish-blue);
}

.sections-paragraph{
    padding: 30px 0;
    font-size: 18px;
    color: var(--color-Dark-blue);
    line-height: 30px;
}

.learn_more {
    font-weight: 900;
    font-family: var(--font-family);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
}

.graphic-design {
    position: relative;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;
    height: 80vh;
    width: 50%;
}

.photography {
    position: relative;
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;
    color: var(--color-Dark-blue);
    height: 80vh;
    width: 50%;
}

.graphic-design>.main-title, .photography>.main-title {
    padding-top: 320px;
    color: var(--color-dark-desaturated-cyan);
} 

.graphic-design .main-title, .sections-paragraph {
    color:var(--color-dark-desaturated-cyan);
}

.photography .main-title, .sections-paragraph {
    color: var(--color-Dark-blue);
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 90%;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

.section-two-title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-family: var(--font-family);
    color: var(--color-dark-desaturated-cyan);
}

.image-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.milkbottles {
    width: 24.4vw;
    grid-column: 1/2;
}

.image-menu {
    display: none;
}

.orange {
    width: 24.4vw;
    grid-column: 2/3;
}

.cone {
    width: 24.4vw;
    grid-column: 3/4;
}

.sugarcubes {
    width: 24.4vw;
    grid-column: 4/5;
}

.avatars>img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.testimony {
    color: var(--color-Dark-blue);
    line-height: 25px;
    padding: 50px 0;
    font-size: 18px;
    font-weight: 300;
}

.name {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 900;
    color: var(--color-dark-desaturated-cyan);
}

.job {
    color: var(--color-Dark-blue);
    font-weight: 300;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 200px;
    
}

footer {
    background-color: var(--color-Dark-moderate-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer_nav ul {
    display:flex;
    padding-top: 30px;
    text-align: center;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav ul li a {
    color: var(--color-dark-desaturated-cyan);
    font-size: 18px;
    text-decoration: none;
    padding: 35px;
    transition: .8s;
}

.footer_nav ul li a:hover {
    filter: grayscale(0);
    color: var(--color-white);
}

.link_icons {
    padding-top: 50px;
}

.link_icons>img {
    padding: 0 10px;
    transition: .8s;
}

.link_icons>img:hover {
    margin: 0 10px;
    transform: translateY(-8px);
    cursor: pointer;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    padding: 20px;
}



.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (max-width:600px){
    main {
        background-image: url(./images/mobile/image-header.jpg);
        background-position: center;
        background-size: 100% 100%;
        height: 60vh;
        padding: 20px;
    }

    .main-nav {
        display: none;
    }

    

    .main-content {
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    
    .arrd {
        position:relative;
        left: 50%;
        height:40px;
    }

    .section-one {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
    }
    .section-one-a {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-one-b, .section-one-c {
        display: flex;
        flex-direction: column;
    }

    .left1,.right2 {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .graphic-design, .photography{
        width: 100%;
    }

    .main-title {
        font-size: 30px;
    }

    .sections-paragraph {
        font-size: 16px;
    }

    .learn_more {
        font-size: 16px;
    }

    .text {
        position: relative;
        text-align: center;
    }
    
    .section-two-title {
        font-size: 18px;
        letter-spacing: 3px;
    }
    
    .image-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .milkbottles {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .orange {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .cone {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .sugarcubes {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .milkbottles, .cone, .orange, .sugarcubes
    {
        width: 49.3vw;
    }

    .footer_nav ul li a{
        padding:0 10px;
    }

    .img {
        width: 100vw;
    }

    .section-two {
        display: flex;
        flex-direction: column;
    }

    .testimonials{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 8px;
    }

    .job {
        padding-bottom: 40px;
    }

    .testimony {
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 16px;
    }
    
    footer {
        padding:30px 0;
    }

    .main-header>img {
        display: block;
        cursor: pointer;
    }
    

}